.w5c-form input:focus,
.w5c-form textarea:focus,
.w5c-form select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  color: #000000;
}
.w5c-form input:focus.error,
.w5c-form textarea:focus.error,
.w5c-form select:focus.error {
  border-color: #b94a48;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.w5c-form input.error,
.w5c-form textarea.error,
.w5c-form select.error {
  border-color: #b94a48;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
  -moz-box-shadow: 0 0 6px #f8b9b7;
  box-shadow: 0 0 6px #f8b9b7;
}
.w5c-form .dropdown-menu {
  max-height: 400px;
  overflow-y: auto;
}
.w5c-form .alert {
  margin-bottom: 0px;
}
.w5c-form .w5c-error {
  color: #b94a48;
  display: block;
  margin-top: 5px;
}
