<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta name="description" content="why520crazy">
    <meta name="author" content="why520crazy">

    <title>angular js and sortable</title>
    <link href="../css/style.css" rel="stylesheet">

</head>

<body>
<!--<div class="container">-->
<div class="wrap">
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">sortable</a>
            </div>
            <div class="collapse navbar-collapse">

            </div>
        </div>
    </div>
    <div class="container entry-container" data-ng-controller="sortTestCtrl">
        <div class="entry-item" data-ng-repeat="entry in entries" entry-id="{{entry.id}}" data-ng-cloak="">
            <span class="title">{{entry.name}}</span>

            <div class="item-container" sortable="item_sortable_options" data-ng-class="{true:'empty'}[entry.items.length == 0]">
                <div class="item" data-ng-class="{true:'first-item'}[$index == 0]" data-ng-repeat="item in entry.items" item-id="{{item.id}}" entry-id="{{entry.id}}"
                     item-pos="{{item.pos}}">
                    {{item.name}}
                </div>
            </div>
        </div>
    </div>
</div>

<div id="footer">
    <div class="container">

        <div class="pull-left">
            <p class="text-muted credit">
                <span>版权所有 © 2013 why520crazy</span></p></div>
        <div class="pull-right text-muted credit">
            <a target="_blank" href="http://weibo.com/why520crazy">新浪微博 @why520crazy</a> |
            <a target="_blank" href="http://why520crazy.cnblogs.com/">博客园博客</a> |
            <a target="_blank" href="https://worktile.com">Worktile</a>
        </div>

    </div>
</div>
<!--</div>-->


<script src="../lib/jquery/1.9.1/jquery.js"></script>
<script src="../lib/jquery-ui/1.9.2/jquery-ui.js"></script>
<script src="../lib/jquery-ui/1.9.2/i18n/jquery.ui.datepicker-zh-CN.js"></script>

<script src="../lib/underscore/1.5.1/underscore.js"></script>

<script src="../lib/angular/1.2.2/angular.js"></script>
<script src="../lib/angular/1.2.2/angular-route.js"></script>
<script src="../lib/angular/1.2.2/angular-resource.js"></script>
<script src="../lib/angular/1.2.2/angular-sanitize.js"></script>

<script>

    (function () {
        'use strict';
        var app = angular.module("app", []);

        app.directive("sortable", [function () {
                    'use strict';
                    return{
                        link: function (scope, element, attrs) {
                            //var options = scope.$eval(attrs.sortable);
                            scope.$watch(attrs.sortable, function (newValue, oldValue) {
                                if (newValue == null) {
                                    element.sortable({disabled: true});
                                }
                                element.sortable(newValue);
                            });
                        }
                    };
                }])
        app.controller("sortTestCtrl", ['$scope', function ($scope) {
            $scope.item_sortable_options = {
                appendTo: $(".entry-container"),
                helper: 'clone',
                revert: 10,
                containment: '.entry-container',
                connectWith: '.item-container',
                placeholder: "item-placeholder",
                tolerance: "pointer",
                dropOnEmpty: true,
                delay: "75",
                over: function (e, ui) {

                },
                start: function (e, ui) {
                    $(".item-placeholder").css({
                        height: ui.item.outerHeight()
                    });
                    //ui.item.addClass("picked-up");
                },
                stop: function (e, ui) {
                    //ui.item.removeClass("picked-up");
                    $scope.$apply(function(){
                        var item_id = ui.item.attr("item-id");
                        var entry_id = ui.item.attr("entry-id");
                        var item_pos = ui.item.attr("item-pos");
                        var newpos = 0;
                        var prev_pos = ui.item.prev().attr("item-pos");
                        var next_pos = ui.item.next().attr("item-pos");
                        if ((prev_pos == null || prev_pos == 0) && (next_pos == null || next_pos == 0)) {
                            newpos = 65535;
                        } else if (prev_pos == null || prev_pos == 0) {
                            newpos = parseInt(next_pos) / 2 + 1;
                        }
                        else if (next_pos == null || next_pos == 0) {
                            newpos = parseInt(prev_pos) + 65535 + 1;
                        } else {
                            newpos = (parseInt(prev_pos) + parseInt(next_pos)) / 2 + 1;
                        }
                        var to_entry_id = ui.item.parents(".entry-item").attr("entry-id");

                        if (entry_id == to_entry_id && newpos == item_pos) return;

                        var from_entry = _.findWhere($scope.entries, {id: parseInt(entry_id)})
                        var to_entry = _.findWhere($scope.entries, {id: parseInt(to_entry_id)})
                        var item = _.findWhere(from_entry.items, {id: parseInt(item_id)});
                        item.pos = newpos;

                        //the one solution
                        //ui.item.remove();

                        //change data
                        to_entry.items.push(item);
                        from_entry.items = _.reject(from_entry.items, function (item) {
                            return item.id == item_id
                        });
                    });




                }};
            $scope.entries = [
                {id: 1, name: 'List 1', pos: 1, items: [
                    {id: 1, name: "item1 1", pos: 1},
                    {id: 2, name: "item1 2", pos: 2}
                ]},
                {id: 2, name: 'List 2', pos: 1, items: [
                    {id: 1, name: "item2 1", pos: 1},
                    {id: 2, name: "item2 2", pos: 2}
                ]},
                {id: 3, name: 'List 3', pos: 1, items: [
                    {id: 1, name: "item3 1", pos: 1}
                ]},
                {id: 4, name: 'List 4', pos: 1, items: [
                    {id: 1, name: "item4 1", pos: 1}
                ]}
            ]
        }]);
    })();

</script>
</body>
</html>